In [1]:
import pandas as pd

In [2]:
aprender_alumnos = pd.read_csv("app_alumno.csv")

/home/jian01/.pyenv/versions/3.6.9/envs/general/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (2,3,4,5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
len(aprender_alumnos)

1835710

In [4]:
aprender_alumnos.columns

Index(['id', 'sexo', 'indice_socioeconomico', 'nivel_desemp_matematica',
       'nivel_desemp_lengua', 'nivel_desemp_ciencias_sociales',
       'nivel_desemp_ciencias_naturales', 'ponderador_lengua',
       'ponderador_matematica', 'ponderador_ciencias_naturales',
       'ponderador_ciencias_sociales', 'tiene_notebook', 'tiene_pc',
       'tiene_tablet', 'tiene_celular', 'tiene_smartphone', 'tiene_consola',
       'tiene_smarttv', 'tiene_cable', 'tiene_internet', 'repeticion_primaria',
       'repeticion_secundaria', 'escuela_id', 'nivel_id', 'year_id'],
      dtype='object')

In [8]:
aprender_alumnos["escuela_id"].value_counts().median()

40.0

In [5]:
aprender_alumnos.columns = [c if c!="id" else "alumne_id" for c in aprender_alumnos.columns]

In [6]:
nivel = pd.read_csv("app_nivel.csv")
nivel.columns = ["nivel_id", "nivel"]
nivel

   nivel_id       nivel
0         1     inicial
1         2    primaria
2         3  secundaria
3         4         snu

In [7]:
aprender_alumnos["escuela_id"]

0          120240006
1          180540909
2          220168311
3          240757212
4          262003313
             ...
1835705    987217616
1835706    992084816
1835707    992401616
1835708    993121616
1835709    995267216
Name: escuela_id, Length: 1835710, dtype: int64

In [8]:
aprender_alumnos = aprender_alumnos.merge(nivel, on="nivel_id", how="inner")
len(aprender_alumnos)

1835710

In [9]:
app_escuela = pd.read_csv("app_escuela.csv")

In [10]:
app_escuela.sample(5)

,id,ambito,gestion,icse,icse_cat,indice_socioeconomico_medio,indice_socioeconomico_medio_cat,tecnica,tiene_internet,subvencion,dependencia,departamento_id,provincia_id
37991,10800526020,urbano,estatal,0.657,critico,1.000000,tercil_bajo,f,f,No corresponde,provincial,174.0,13
24522,1170667919,urbano,estatal,-1.000,NaN,-1.000000,NaN,f,NaN,NaN,NaN,NaN,0
36785,8400136020,urbano,privada,-1.000,NaN,2.161290,tercil_alto,f,t,Subvención Total,provincial,145.0,10
50718,6760772226,urbano,estatal,-1.000,NaN,-1.000000,NaN,f,t,No corresponde,provincial,71.0,3
53865,301356015,urbano,privada,-1.000,NaN,2.663158,tercil_alto,f,t,Más de 50% y hasta 75%,provincial,77.0,4

In [11]:
app_escuela.columns = ["escuela_id"] + list(app_escuela.columns[1:])

In [12]:
aprender_alumnos = aprender_alumnos.merge(app_escuela, on="escuela_id", how="inner")
len(aprender_alumnos)

1835710

In [13]:
aprender_alumnos.columns

Index(['alumne_id', 'sexo', 'indice_socioeconomico', 'nivel_desemp_matematica',
       'nivel_desemp_lengua', 'nivel_desemp_ciencias_sociales',
       'nivel_desemp_ciencias_naturales', 'ponderador_lengua',
       'ponderador_matematica', 'ponderador_ciencias_naturales',
       'ponderador_ciencias_sociales', 'tiene_notebook', 'tiene_pc',
       'tiene_tablet', 'tiene_celular', 'tiene_smartphone', 'tiene_consola',
       'tiene_smarttv', 'tiene_cable', 'tiene_internet_x',
       'repeticion_primaria', 'repeticion_secundaria', 'escuela_id',
       'nivel_id', 'year_id', 'nivel', 'ambito', 'gestion', 'icse', 'icse_cat',
       'indice_socioeconomico_medio', 'indice_socioeconomico_medio_cat',
       'tecnica', 'tiene_internet_y', 'subvencion', 'dependencia',
       'departamento_id', 'provincia_id'],
      dtype='object')

In [14]:
aprender_alumnos.columns = [c.replace("_x","_alumne").replace("_y","_escuela") for c in aprender_alumnos.columns]

In [15]:
aprender_alumnos.columns

Index(['alumne_id', 'sexo', 'indice_socioeconomico', 'nivel_desemp_matematica',
       'nivel_desemp_lengua', 'nivel_desemp_ciencias_sociales',
       'nivel_desemp_ciencias_naturales', 'ponderador_lengua',
       'ponderador_matematica', 'ponderador_ciencias_naturales',
       'ponderador_ciencias_sociales', 'tiene_notebook', 'tiene_pc',
       'tiene_tablet', 'tiene_celular', 'tiene_smartphone', 'tiene_consola',
       'tiene_smarttv', 'tiene_cable', 'tiene_internet_alumne',
       'repeticion_primaria', 'repeticion_secundaria', 'escuela_id',
       'nivel_id', 'year_id', 'nivel', 'ambito', 'gestion', 'icse', 'icse_cat',
       'indice_socioeconomico_medio', 'indice_socioeconomico_medio_cat',
       'tecnica', 'tiene_internet_escuela', 'subvencion', 'dependencia',
       'departamento_id', 'provincia_id'],
      dtype='object')

In [16]:
app_provincia = pd.read_csv("app_provincia.csv")

In [17]:
app_provincia.sample(5)

    id                 name
5    5           Corrientes
21  21  Santiago del Estero
9    9                Jujuy
22  22     Tierra del Fuego
18  18             San Luis

In [18]:
app_provincia.columns = ["id","name_provincia"]

In [19]:
aprender_alumnos = aprender_alumnos.merge(app_provincia, left_on="provincia_id", how="inner", right_on="id")
len(aprender_alumnos)

1835710

In [20]:
aprender_alumnos.columns

Index(['alumne_id', 'sexo', 'indice_socioeconomico', 'nivel_desemp_matematica',
       'nivel_desemp_lengua', 'nivel_desemp_ciencias_sociales',
       'nivel_desemp_ciencias_naturales', 'ponderador_lengua',
       'ponderador_matematica', 'ponderador_ciencias_naturales',
       'ponderador_ciencias_sociales', 'tiene_notebook', 'tiene_pc',
       'tiene_tablet', 'tiene_celular', 'tiene_smartphone', 'tiene_consola',
       'tiene_smarttv', 'tiene_cable', 'tiene_internet_alumne',
       'repeticion_primaria', 'repeticion_secundaria', 'escuela_id',
       'nivel_id', 'year_id', 'nivel', 'ambito', 'gestion', 'icse', 'icse_cat',
       'indice_socioeconomico_medio', 'indice_socioeconomico_medio_cat',
       'tecnica', 'tiene_internet_escuela', 'subvencion', 'dependencia',
       'departamento_id', 'provincia_id', 'id', 'name_provincia'],
      dtype='object')

In [21]:
aprender_alumnos = aprender_alumnos[['alumne_id','sexo', 'indice_socioeconomico', 'nivel_desemp_matematica',
       'nivel_desemp_lengua', 'nivel_desemp_ciencias_sociales',
       'nivel_desemp_ciencias_naturales', 'ponderador_lengua',
       'ponderador_matematica', 'ponderador_ciencias_naturales',
       'ponderador_ciencias_sociales', 'tiene_notebook', 'tiene_pc',
       'tiene_tablet', 'tiene_celular', 'tiene_smartphone', 'tiene_consola',
       'tiene_smarttv', 'tiene_cable', 'tiene_internet_alumne',
       'repeticion_primaria', 'repeticion_secundaria', 'escuela_id',
       'nivel_id', 'year_id', 'nivel', 'ambito', 'gestion', 'icse', 'icse_cat',
       'indice_socioeconomico_medio', 'indice_socioeconomico_medio_cat',
       'tecnica', 'tiene_internet_escuela', 'subvencion', 'dependencia',
       'departamento_id', 'provincia_id', 'name_provincia']]

In [22]:
app_departamento = pd.read_csv("app_departamento.csv")
app_departamento.sample()

      id  name  tasa_con_nbi  provincia_id
225  235  Vera       0.14672            20

In [23]:
app_departamento.columns = ["id","departamento_name","tasa_con_nbi", "provincia_id"]

In [24]:
aprender_alumnos = aprender_alumnos.merge(app_departamento, left_on="departamento_id", how="left", right_on="id")
len(aprender_alumnos)

1835710

In [25]:
aprender_alumnos.columns

Index(['alumne_id', 'sexo', 'indice_socioeconomico', 'nivel_desemp_matematica',
       'nivel_desemp_lengua', 'nivel_desemp_ciencias_sociales',
       'nivel_desemp_ciencias_naturales', 'ponderador_lengua',
       'ponderador_matematica', 'ponderador_ciencias_naturales',
       'ponderador_ciencias_sociales', 'tiene_notebook', 'tiene_pc',
       'tiene_tablet', 'tiene_celular', 'tiene_smartphone', 'tiene_consola',
       'tiene_smarttv', 'tiene_cable', 'tiene_internet_alumne',
       'repeticion_primaria', 'repeticion_secundaria', 'escuela_id',
       'nivel_id', 'year_id', 'nivel', 'ambito', 'gestion', 'icse', 'icse_cat',
       'indice_socioeconomico_medio', 'indice_socioeconomico_medio_cat',
       'tecnica', 'tiene_internet_escuela', 'subvencion', 'dependencia',
       'departamento_id', 'provincia_id_x', 'name_provincia', 'id',
       'departamento_name', 'tasa_con_nbi', 'provincia_id_y'],
      dtype='object')

In [26]:
aprender_alumnos = aprender_alumnos[['alumne_id', 'sexo', 'indice_socioeconomico', 'nivel_desemp_matematica',
       'nivel_desemp_lengua', 'nivel_desemp_ciencias_sociales',
       'nivel_desemp_ciencias_naturales', 'ponderador_lengua',
       'ponderador_matematica', 'ponderador_ciencias_naturales',
       'ponderador_ciencias_sociales', 'tiene_notebook', 'tiene_pc',
       'tiene_tablet', 'tiene_celular', 'tiene_smartphone', 'tiene_consola',
       'tiene_smarttv', 'tiene_cable', 'tiene_internet_alumne',
       'repeticion_primaria', 'repeticion_secundaria', 'year_id', 'nivel', 'ambito', 'gestion', 'icse', 'icse_cat',
       'indice_socioeconomico_medio', 'indice_socioeconomico_medio_cat',
       'tecnica', 'tiene_internet_escuela', 'subvencion', 'dependencia', 'name_provincia',
       'departamento_name', 'tasa_con_nbi']]

In [27]:
aprender_alumnos.to_csv("super_join.csv", index=False)