In [1]:
import pandas as pd
import math

In [2]:
aprender_alumnos = pd.read_csv("app_alumno.csv")
aprender_alumnos.sample(5)

/home/jian01/.pyenv/versions/3.6.9/envs/general/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (2,3,4,5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,sexo,indice_socioeconomico,nivel_desemp_matematica,nivel_desemp_lengua,nivel_desemp_ciencias_sociales,nivel_desemp_ciencias_naturales,ponderador_lengua,ponderador_matematica,ponderador_ciencias_naturales,...,tiene_smartphone,tiene_consola,tiene_smarttv,tiene_cable,tiene_internet,repeticion_primaria,repeticion_secundaria,escuela_id,nivel_id,year_id
1211473,1211474,m,medio,basico,basico,por_debajo_del_basico,basico,1.022708,1.033097,1.059034,...,no,no,no,si,no,no,no,6120732618,3,2016
260172,260173,nc,NaN,satisfactorio,satisfactorio,satisfactorio,nc,1.593469,1.676911,-1.000000,...,nc,nc,nc,nc,nc,nc,nc,1212448020,3,2013
1212490,1212490,nc,bajo,por_debajo_del_basico,basico,avanzado,satisfactorio,2.781630,1.525389,2.445756,...,no,no,si,si,no,nc,nc,22363096626,3,2016
10916,10917,nc,NaN,nc,basico,nc,por_debajo_del_basico,11.188797,-1.000000,11.723913,...,nc,nc,nc,nc,nc,nc,nc,15002667030,2,2013
947984,947985,nc,medio,por_debajo_del_basico,por_debajo_del_basico,por_debajo_del_basico,basico,2.037387,1.669542,1.737209,...,no,no,no,no,si,nc,nc,1300951613,3,2016

In [3]:
aprender_alumnos.describe()

,id,ponderador_lengua,ponderador_matematica,ponderador_ciencias_naturales,ponderador_ciencias_sociales,escuela_id,nivel_id,year_id
count,1.835710e+06,1.696377e+06,1.726680e+06,1.732310e+06,1.756376e+06,1.835710e+06,1.835710e+06,1.835710e+06
mean,9.178555e+05,1.031906e+00,1.004982e+00,8.996754e-01,9.123590e-01,7.098804e+09,2.372548e+00,2.015702e+03
std,5.299240e+05,4.482136e+00,4.633515e+00,4.440036e+00,4.367103e+00,7.627225e+09,4.834834e-01,1.431061e+00
min,1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,6.000030e+07,2.000000e+00,2.013000e+03
25%,4.589282e+05,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,1.467454e+09,2.000000e+00,2.016000e+03
50%,9.178555e+05,1.119620e+00,1.098848e+00,1.078306e+00,1.085212e+00,3.085839e+09,2.000000e+00,2.016000e+03
75%,1.376783e+06,1.442554e+00,1.468137e+00,1.420758e+00,1.414500e+00,1.188092e+10,3.000000e+00,2.017000e+03
max,1.835710e+06,1.097849e+02,1.244528e+02,9.870000e+02,1.027756e+02,3.526857e+10,3.000000e+00,2.017000e+03

In [4]:
aprender_alumnos.columns

Index(['id', 'sexo', 'indice_socioeconomico', 'nivel_desemp_matematica',
       'nivel_desemp_lengua', 'nivel_desemp_ciencias_sociales',
       'nivel_desemp_ciencias_naturales', 'ponderador_lengua',
       'ponderador_matematica', 'ponderador_ciencias_naturales',
       'ponderador_ciencias_sociales', 'tiene_notebook', 'tiene_pc',
       'tiene_tablet', 'tiene_celular', 'tiene_smartphone', 'tiene_consola',
       'tiene_smarttv', 'tiene_cable', 'tiene_internet', 'repeticion_primaria',
       'repeticion_secundaria', 'escuela_id', 'nivel_id', 'year_id'],
      dtype='object')

# Sexo

In [5]:
aprender_alumnos["sexo"].value_counts()

nc    823198
f     516327
m     496185
Name: sexo, dtype: int64

In [6]:
aprender_alumnos["sexo"].value_counts()["nc"]/len(aprender_alumnos)

0.4484357551029302

El 44% de las pruebas no tiene el sexo especificado

In [7]:
sum(aprender_alumnos["sexo"].isnull())

0

# Indice socioeconomico

In [8]:
aprender_alumnos["indice_socioeconomico"].sample(5)

71494        NaN
280016       NaN
208953       NaN
852196      alto
1556803    medio
Name: indice_socioeconomico, dtype: object

In [9]:
aprender_alumnos["indice_socioeconomico"].value_counts()

medio    805723
alto     228694
nc       227551
bajo     201202
Name: indice_socioeconomico, dtype: int64

In [10]:
sum(aprender_alumnos["indice_socioeconomico"].isnull())

372540

In [11]:
(sum(aprender_alumnos["indice_socioeconomico"].isnull())+aprender_alumnos["indice_socioeconomico"].value_counts()["nc"])/len(aprender_alumnos)

0.3268985841990293

El 32% de las pruebas no tiene el indice socioeconomico

# Niveles de desempeÃ±o

In [12]:
 aprender_alumnos[['nivel_desemp_matematica','nivel_desemp_lengua', 'nivel_desemp_ciencias_sociales','nivel_desemp_ciencias_naturales']]

,nivel_desemp_matematica,nivel_desemp_lengua,nivel_desemp_ciencias_sociales,nivel_desemp_ciencias_naturales
0,satisfactorio,nc,satisfactorio,satisfactorio
1,satisfactorio,nc,satisfactorio,nc
2,satisfactorio,basico,nc,nc
3,avanzado,avanzado,satisfactorio,satisfactorio
4,basico,satisfactorio,nc,basico
...,...,...,...,...
1835705,por_debajo_del_basico,satisfactorio,NaN,NaN
1835706,basico,nc,NaN,NaN
1835707,por_debajo_del_basico,por_debajo_del_basico,NaN,NaN
1835708,por_debajo_del_basico,satisfactorio,NaN,NaN
1835709,basico,satisfactorio,NaN,NaN

In [13]:
aprender_alumnos[['nivel_desemp_matematica','nivel_desemp_lengua', 'nivel_desemp_ciencias_sociales','nivel_desemp_ciencias_naturales']].describe()

,nivel_desemp_matematica,nivel_desemp_lengua,nivel_desemp_ciencias_sociales,nivel_desemp_ciencias_naturales
count,1295824,1295824,1244017,1244017
unique,5,5,5,5
top,satisfactorio,satisfactorio,satisfactorio,satisfactorio
freq,373090,424810,391181,495528

In [14]:
len(aprender_alumnos)

1835710

In [15]:
500000/1835710

0.2723741767490508

Aproximadamente el 30% de las pruebas no tienen nivel de desempeÃ±o en cada una de las areas

In [16]:
aprender_alumnos[['nivel_desemp_matematica','nivel_desemp_lengua', 'nivel_desemp_ciencias_sociales','nivel_desemp_ciencias_naturales']].applymap(lambda x: math.isnan(x) if not isinstance(x, str) else False).corr()

,nivel_desemp_matematica,nivel_desemp_lengua,nivel_desemp_ciencias_sociales,nivel_desemp_ciencias_naturales
nivel_desemp_matematica,1.000000,1.000000,-0.445157,-0.445157
nivel_desemp_lengua,1.000000,1.000000,-0.445157,-0.445157
nivel_desemp_ciencias_sociales,-0.445157,-0.445157,1.000000,1.000000
nivel_desemp_ciencias_naturales,-0.445157,-0.445157,1.000000,1.000000

Donde falta el nivel de desempeÃ±o en matematica tambien falta el de lengua, y donde falta el de ciencias sociales falta el de naturales, deben corresponder a dos pruebas separadas

# Ponderadores

In [17]:
aprender_alumnos[['ponderador_lengua',
       'ponderador_matematica', 'ponderador_ciencias_naturales',
       'ponderador_ciencias_sociales']].describe()

,ponderador_lengua,ponderador_matematica,ponderador_ciencias_naturales,ponderador_ciencias_sociales
count,1.696377e+06,1.726680e+06,1.732310e+06,1.756376e+06
mean,1.031906e+00,1.004982e+00,8.996754e-01,9.123590e-01
std,4.482136e+00,4.633515e+00,4.440036e+00,4.367103e+00
min,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00
25%,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00
50%,1.119620e+00,1.098848e+00,1.078306e+00,1.085212e+00
75%,1.442554e+00,1.468137e+00,1.420758e+00,1.414500e+00
max,1.097849e+02,1.244528e+02,9.870000e+02,1.027756e+02

In [26]:
aprender_alumnos[['ponderador_lengua',
       'ponderador_matematica', 'ponderador_ciencias_naturales',
       'ponderador_ciencias_sociales']].isna().sum()

ponderador_lengua                139333
ponderador_matematica            109030
ponderador_ciencias_naturales    103400
ponderador_ciencias_sociales      79334
dtype: int64

# Tecnologia

In [25]:
aprender_alumnos[['tiene_notebook', 'tiene_pc',
                  'tiene_tablet', 'tiene_celular', 'tiene_smartphone', 'tiene_consola',
                  'tiene_smarttv', 'tiene_cable', 'tiene_internet']].isna().sum()

tiene_notebook      0
tiene_pc            0
tiene_tablet        0
tiene_celular       0
tiene_smartphone    0
tiene_consola       0
tiene_smarttv       0
tiene_cable         0
tiene_internet      0
dtype: int64

In [28]:
aprender_alumnos['tiene_notebook'].value_counts()

nc    1081758
si     403252
no     350700
Name: tiene_notebook, dtype: int64